<div class="position-relative bg-white">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="p-4">
      <img src="assets/logo/logo__primary.png" alt="" />
    </div>

    <i
      class="fa-solid fa-chevron-left py-3 px-2 bg-primary-subtle d-block d-lg-none"
    ></i>
  </div>
  <div class="w-100 mx-auto bg__gradient-secondary" style="height: 1px"></div>
  <section aria-label="side-navbar" class="px-4">
    <ul class="list-unstyled">
      <li>
        <a href="dashboard.html" class="menu__item active">
          <div>
            <i class="fa-solid fa-house-chimney me-2"></i>
            <span>Dashboard</span>
          </div>
        </a>
      </li>
      <li>
        <div class="accordion accordion-flush" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed menu__item rounded-4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-logam-mulia"
                aria-expanded="false"
                aria-controls="flush-logam-mulia"
              >
                <i class="fa-solid fa-coins" style="margin-right: 14px"></i>
                <span>Logam Mulia</span>
              </button>
            </h2>
            <div
              id="flush-logam-mulia"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionLogamMulia"
            >
              <div class="accordion-body pe-0 pt-0">
                <a href="stok-emas.html" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-cube me-2"></i>
                    <span>Stok Emas</span>
                  </div>
                </a>
                <a href="kepemilikan-emas.html" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-kaaba me-2"></i>
                    <span>Kepemilikan Emas</span>
                  </div>
                </a>
                <a href="pinjaman-emas.html" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-hand-holding-dollar me-2"></i>
                    <span>Pinjaman Emas</span>
                  </div>
                </a>
                <a href="cetak-emas.html" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-print me-2"></i>
                    <span>Cetak Emas</span>
                  </div>
                </a>
                <a href="arisan-emas.html" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-calendar me-2"></i>
                    <span>Arisan Emas</span>
                  </div>
                </a>
                <a href="gadai-emas.html" class="menu__item py-2">
                  <div>
                    <i class="fa-brands fa-sellsy me-2"></i>
                    <span>Gadai Emas</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="accordion accordion-flush" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed menu__item rounded-4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-user"
                aria-expanded="false"
                aria-controls="flush-user"
              >
                <i
                  class="fa-solid fa-user-group"
                  style="margin-right: 14px"
                ></i>
                <span>User</span>
              </button>
            </h2>
            <div
              id="flush-user"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionUser"
            >
              <div class="accordion-body pe-0 pt-0">
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-user-plus me-2"></i>
                    <span>Daftar User</span>
                  </div>
                </a>
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-clipboard-check me-2"></i>
                    <span>Verifikasi User</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="accordion accordion-flush" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed menu__item rounded-4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-transaction"
                aria-expanded="false"
                aria-controls="flush-transaction"
              >
                <i
                  class="fa-solid fa-sack-dollar"
                  style="margin-right: 14px"
                ></i>
                <span>Transaction</span>
              </button>
            </h2>
            <div
              id="flush-transaction"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionTransaction"
            >
              <div class="accordion-body pe-0 pt-0">
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-file-invoice-dollar me-2"></i>
                    <span>Daftar Transaksi</span>
                  </div>
                </a>
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-money-bill-trend-up me-2"></i>
                    <span>Isi Saldo</span>
                  </div>
                </a>
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-money-bill-transfer me-2"></i>
                    <span>Tarik Saldo</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="accordion accordion-flush" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed menu__item rounded-4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-product"
                aria-expanded="false"
                aria-controls="flush-product"
              >
                <i
                  class="fa-solid fa-boxes-stacked"
                  style="margin-right: 14px"
                ></i>
                <span>Product on Store</span>
              </button>
            </h2>
            <div
              id="flush-product"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionTransaction"
            >
              <div class="accordion-body pe-0 pt-0">
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-box me-2"></i>
                    <span>Daftar Produk</span>
                  </div>
                </a>
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-qrcode me-2"></i>
                    <span>Download QR</span>
                  </div>
                </a>
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-list me-2"></i>
                    <span>Kategori</span>
                  </div>
                </a>
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-list-ol me-2"></i>
                    <span>Sub Kategori</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="menu__item">
          <div>
            <i class="fa-solid fa-shop me-2"></i>
            <span>Store</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="menu__item">
          <div>
            <i class="fa-solid fa-image me-2"></i>
            <span>Banner</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="menu__item">
          <div>
            <i class="fa-solid fa-chart-line me-2"></i>
            <span>Gold Kurs</span>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="menu__item">
          <div>
            <i class="fa-solid fa-building-wheat me-2"></i>
            <span>Manufacture</span>
          </div>
        </a>
      </li>
      <li>
        <div class="accordion accordion-flush" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed menu__item rounded-4"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-order"
                aria-expanded="false"
                aria-controls="flush-order"
              >
                <i
                  class="fa-solid fa-cart-shopping"
                  style="margin-right: 14px"
                ></i>
                <span>Order</span>
              </button>
            </h2>
            <div
              id="flush-order"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionTransaction"
            >
              <div class="accordion-body pe-0 pt-0">
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-dolly me-2"></i>
                    <span>Pesanan</span>
                  </div>
                </a>
                <a href="#" class="menu__item py-2">
                  <div>
                    <i class="fa-solid fa-arrows-rotate me-2"></i>
                    <span>Buyback</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
